<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cisc_325_project">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Chat"></activity>
        <activity
            android:name=".CreateEvent"
            android:label="Create Event"
            android:parentActivityName=".EventList">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".EventList" />
        </activity>
        <activity
            android:name=".Profile"
            android:label="Profile"
            android:parentActivityName=".Home">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Home" />
        </activity>
        <activity
            android:name=".EventDetails"
            android:label="Event Details"
            android:parentActivityName=".EventList">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".EventList" />
        </activity>
        <activity
            android:name=".EventList"
            android:label="Events"
            android:parentActivityName=".Home">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Home" />
        </activity>
        <activity
            android:name=".statusSelectionActivity"
            android:label="Status"
            android:parentActivityName=".Home">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Home" />
        </activity>
        <activity
            android:name=".Home"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
    </application>

</manifest>